---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, herosrc, herotitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="hero">
      {herosrc != null && <img src={herosrc} />}
      {herotitle != null && <h1>{herotitle}</h1>}

      <div>
        <Header />
        <!-- <Headermenu />
        <Headermobile /> -->
      </div>
    </div>
    <h1>{title}</h1>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .hero {
    display: grid;
  }
  .hero > * {
    grid-column: 1;
    grid-row: 1;
  }
  .hero > img,
  .hero > h1 {
    justify-self: center;
    align-self: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--text-color);
  }

  @media (min-width: 900px) {
    h1 {
      font-size: 6rem;
    }
  }
</style>
